19xAi/templates/10. Free AI Generation.json
{
  "name": "10. Free ai Generation",
  "nodes": [
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.together.xyz/v1/images/generations",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n  \"model\": \"black-forest-labs/FLUX.1-schnell\",\n  \"prompt\": \"[a cat]\",\n  \"width\": 1024,\n  \"height\": 768,\n  \"steps\": 4,\n  \"n\": 1,\n  \"response_format\": \"b64_json\",\n  \"stop\": []\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -140,
        0
      ],
      "id": "be2d91d9-d56c-4286-95fe-020a0910f54b",
      "name": "HTTP Request",
      "credentials": {
        "httpHeaderAuth": {
          "id": "ujpylBiAVHpOKHUp",
          "name": "Together.ai"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "8ee5a866-7fe1-45be-8e1a-60a13ee3fbf8",
              "name": "base64",
              "value": "={{ $json.data[0].b64_json }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        140,
        0
      ],
      "id": "fcc377d2-d2be-443d-948e-0f7f74d6a2c7",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "operation": "toBinary",
        "sourceProperty": "base64",
        "options": {}
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        420,
        0
      ],
      "id": "b56cfb2b-1474-44c4-8bc2-dba7d3992d9d",
      "name": "Convert to File"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -420,
        0
      ],
      "id": "f84f7c36-1a66-4fbb-80cc-71840fa5e356",
      "name": "When clicking ‘Test workflow’"
    }
  ],
  "pinData": {},
  "connections": {
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Convert to File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Test workflow’": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "de15d207-9abc-4852-a0d1-26f5c592e10b",
  "meta": {
    "instanceId": "69a8857e965ca7c80f98fc65959966641899098507ea50e4b5a1c7ac6abe0d60"
  },
  "id": "KUjRbkXcdo3Ngpu3",
  "tags": []
}
